<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <div class="center">
      <h1>Forgot password</h1>
      <form method="post">
        <div class="txt_field">
          <input type="text" id="name" required>
          <span></span>
          <label>Username or Email</label>
        </div>
        <div id="otp" name="otp" class="txt_field">
            <input type="text">
            <span></span>
            <label>OTP</label>
          </div>
        <input type="button" id="submit" onclick="otp()" value="Send verification email">
        <div class="link">
          Remembered your password..? <a href="/login">Login</a>
        </div>
      </form>
    </div>
    <script>
        function otp() {
            let otp = document.getElementById("otp");
            otp.style.display = 'block';
            $.post("/forgot-password",
    {
      name: document.getElementById('name').value,
      city: "Duckburg"
    },
    function(data,status){
      alert("Data: " + data + "\nStatus: " + status);
    });
    document.getElementById('submit').setAttribute('type',"submit");
        }
    </script>
  </body>
</html>
