<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <div class="center">
      <h1>Reset Password</h1>
      <form accept="/reset-password" method="post">
        <div class="txt_field">
            <input type="password" name="password" required>
            <span></span>
            <label>Password</label>
          </div>
          <div class="txt_field">
              <input type="password" name="c-password" required>
              <span></span>
              <label>Confirm Password</label>
            </div>
        <input type="submit" value="Submit">
       </form>
    </div>

  </body>
</html>
