<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Verification</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <div class="center">
      <h1>Verification</h1>
      <form action="/verify-email" method="post">
        <div class="txt_field">
          <input type="number" name="otp" required>
          <span></span>
          <label>Enter OTP</label>
        </div>
        <input type="submit" value="Submit OTP">
       </form>
    </div>

  </body>
</html>
